{% extends 'base.html' %}
{% block title %}Удаление задачи{% endblock %}
{% block content %}
    <form action="" method="POST" class="text-center pt-5 mt-5">
        {% csrf_token %}
        <h1 class="py-5">Вы уверены-что хотите удалить"<span class="text-success">{{ task.title }}</span>"</h1>
        <button type="submit" class="btn btn-primary d-inline-block px-5">Да</button>
        <a href="{% url 'webapp:task_view' task.pk %}" class="btn btn-primary d-inline-block px-5">Нет</a>
    </form>
{% endblock %}