{% extends "base.html" %}
{% block title %}Информация о Задаче{% endblock %}
{% block nav %}
    {% if request.user.is_authenticated %}
        <li class="nav-item">
            <a href="{% url 'webapp:update_task' task.pk %}" class="nav-link text-light">Редактировать задачу</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'webapp:delete_task' task.pk %}" class="nav-link text-light">Удалить задачу</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="card my-4">
        <div class="card-header">
            <h5 class="card-title">Подробная информация о Задаче</h5>
        </div>
        <div class="card-body">
            <p class="card-text"><b class="fs-4">Название: </b>{{ task.title }}</p>
            <p class="card-text"><b class="fs-4">Статус: </b>
                {% if not task.status == None %}
                    {{ task.status}}
                {% else %}
                    <span>Нет</span>
                {% endif %}
            </p>
            <p class="card-text"><b class="fs-4">Типы:</b></p>
                {% for types in task.type.all %}
                    {{ types.title }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    <p>Типов нет</p>
                {% endfor %}
            <p><b class="fs-4">Описание: </b></p>
            <p class="card-text">{{ task.content|linebreaksbr }}</p>
            <p class="card-text"><b class="fs-4">Дата: </b>{{ task.created_at|date:"d-m-Y" }}</p>
        </div>
    </div>
    <a href="{% url 'webapp:projects' %}" class="btn btn-primary">На главную</a>
    <a href="{% url 'webapp:project_view' task.project.pk %}" class="btn btn-primary">Назад</a>
{% endblock %}