{% extends "base.html" %}
{% block nav %}
    <li class="nav-item">
        <a href="{% url 'webapp:tasks' %}" class="nav-link text-light">Все задачи</a>
    </li>
    {% if request.user.is_authenticated and perms.webapp.add_projectmodel %}
        <li class="nav-item">
            <a href="{% url 'webapp:create_project' %}" class="nav-link text-light">Создать проект</a>
        </li>
    {% endif %}
    {% if perms.accounts.can_view_all_users or request.user.is_superuser %}
        <li class="nav-item">
            <a href="{% url 'accounts:users_list' %}" class="nav-link text-light">Все пользователи</a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <h1 class="text-center my-4">Список Проектов</h1>
    {% include 'partial/search.html' %}

    {% include 'partial/projects_list_partial.html' %}
{% endblock %}