{% extends "base.html" %}
{% block title %}Информация о Проекте{% endblock %}
{% block nav %}
    {% if perms.webapp.add_issuemodel and request.user in project.users.all %}
        <li class="nav-item">
            <a href="{% url 'webapp:create_task_with_project' project.pk %}" class="nav-link text-light">Создать задачу</a>
        </li>
    {% endif %}
    {% if perms.webapp.add_projectmodel %}
        <li class="nav-item">
            <a href="{% url 'webapp:update_project' project.pk %}" class="nav-link text-light">Редактировать проект</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'webapp:delete_project' project.pk %}" class="nav-link text-light">Удалить продукт</a>
        </li>
    {% endif %}
    {% if perms.webapp.can_add_users_to_the_project and request.user in project.users.all or request.user.is_superuser %}
        <li class="nav-item">
            <a href="{% url 'webapp:add_user' project.pk %}" class="nav-link text-light">
                Добавить пользователя
            </a>
        </li>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="card my-4">
        <div class="card-header">
            <h5 class="card-title">Подробная информация о проекте</h5>
        </div>
        <div class="card-body">
            <p class="card-text"><b class="fs-4">Название: </b>{{ project.title }}</p>
            <p><b class="fs-4">Описание: </b></p>
            <p class="card-text">{{ project.content|linebreaksbr }}</p>
            <p class="card-text">
                <b>Пользователи: </b>
                {% for user in project.users.all %}
                    <p class="p-0 m-0">
                        {{ user }}
                        {% if perms.webapp.can_delete_users_to_the_project and request.user in project.users.all or request.user.is_superuser %}
                            <a href="{% url 'webapp:delete_user' project.pk user.pk %}" class="ms-4 btn btn-danger btn-sm py-0 px-1">Удалить</a>
                        {% endif %}
                    <hr>
                    </p>
                {% endfor %}
            </p>
            <p class="card-text"><b class="fs-4">Дата создания: </b>{{ project.created_at|date:"d-m-Y" }}</p>
            {% if project.updated_at %}
            <p class="card-text"><b class="fs-4">Дата изменения: </b>{{ project.updated_at|date:"d-m-Y" }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row ms-xl-5">
            <h5 class="card-title text-center mb-5">Задачи относящиеся к проекту: "{{ project.title }}"</h5>
        {% for task in tasks %}
            <div class="col-4 mb-3">
                <div class="card h-100" style="width: 18rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            <a href=" {% url 'webapp:task_view' task.pk %}" class="link-success">{{ task.title }}</a>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted"><b>Статус: </b>
                            {% if not task.status == None %}
                                {{ task.status}}
                            {% else %}
                                <span>Нет</span>
                            {% endif %}
                        </h6>
                        <h6 class="card-subtitle mb-2 text-muted"><b>Типы: </b>
                            {% for types in task.type.all %}
                                {{ types.title }}{% if not forloop.last %}, {% endif %}
                            {% empty %}
                                <p>Типов нет</p>
                            {% endfor %}</h6>
                        <a href=" {% url 'webapp:task_view' task.pk %}"
                           class="btn btn-primary btn-sm mt-auto d-inline-block w-50">Подробнее</a>
                    </div>
                </div>
            </div>
        {% empty %}
            <h1>Задач нет!</h1>
        {% endfor %}
        {% if page_obj.has_other_pages %}
            <div style="margin: 0 25%">
                <nav aria-label="...">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                        {% for page in page_obj.paginator.page_range %}
                            {% if page_obj.number == page %}
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:+3 %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        {% endif %}
    </div>
    <a href="{% url 'webapp:projects' %}" class="btn btn-primary">На главную</a>
{% endblock %}